<div class="header-container">
  <div class="header-left">
    <div class="toggle-side-nav">
      <button (click)="toggleSideNav()" color="primary" mat-button>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="chevron_left"
        ></mat-icon>
      </button>
    </div>
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Search" />
      <button class="search-button">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div class="header-right">
    <button mat-icon-button matBadge="2" matBadgeColor="warn">
      <mat-icon>mail</mat-icon>
    </button>
    <button mat-icon-button matBadge="8" matBadgeColor="warn">
      <mat-icon>notifications</mat-icon>
    </button>

    <mat-form-field
      class="fiscal-period"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>Fiscal Period</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" />
        <input matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>
