<div class="header-container">
  <div class="header-left">
    <div class="toggle-side-nav">
      <button (click)="toggleSideNav()" color="primary" mat-icon-button>
        <mat-icon svgIcon="toggle-sidenav"></mat-icon>
      </button>
    </div>
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Search" />
      <button class="search-button">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div class="header-right">
    <button mat-icon-button matBadge="2" matBadgeColor="warn" class="mail-badge">
      <mat-icon svgIcon="mail"></mat-icon>
    </button>
    <button mat-icon-button matBadge="8" matBadgeColor="warn" class="notifications-badge">
      <mat-icon svgIcon="notifications"></mat-icon>
    </button>

    <mat-form-field
      class="fiscal-period"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>Fiscal Period</mat-label>
      <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" />
      <input matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon svgIcon="calendar"></mat-icon>
      </mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>
