@use "@angular/material" as mat;

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px 32px;
  align-items: center;

  .header-left {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 32px;
    align-items: center;
  }

  .header-right {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: end;
    gap: 32px;
    align-items: center;
  }

  .search-container {
    @include mat.form-field-density(-5);
    --mdc-filled-text-field-container-color: white;
    --mat-form-field-container-vertical-padding: 8px;
    --mat-form-field-container-vertical-padding: 8px;
  }
}

:host {
  --mdc-outlined-text-field-outline-color: #e7e7e7;
}

.mat-mdc-form-field-flex {
  height: 40px;
}
