@use 'SASS:map';
@use '@angular/material' as mat;
@include mat.core();

$sredi-primary-palette: (
  50: #e1f7fd,
  100: #b3ecfb,
  200: #80e0f8,
  300: #4dd4f5,
  400: #26caf3,
  500: #03bcf3,
  600: #03a9e0,
  700: #0394cc,
  800: #037fb8,
  900: #035f99,
  A100: #ffffff,
  A200: #e1f7fd,
  A400: #b3ecfb,
  A700: #80e0f8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);
$sredi-accent-palette: (
  50: #e3e6e9,
  100: #bac1c7,
  200: #8e99a1,
  300: #616f7a,
  400: #3f5260,
  500: #091836,
  600: #081530,
  700: #071229,
  800: #060f23,
  900: #040a17,
  A100: #bac1c7,
  A200: #8e99a1,
  A400: #3f5260,
  A700: #071229,
  contrast: (
    50: #000000,
    100: #000000,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  )
);

$sredi-warn-palette: (
  50: #fde1e1,
  100: #fbb3b3,
  200: #f88080,
  300: #f54d4d,
  400: #f32626,
  500: #ea3030,
  600: #e02626,
  700: #cc1f1f,
  800: #b81919,
  900: #991212,
  A100: #ffffff,
  A200: #fde1e1,
  A400: #fbb3b3,
  A700: #f88080,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);


$sredi-primary: mat.m2-define-palette($sredi-primary-palette, 500, 100, 900);
$sredi-accent: mat.m2-define-palette($sredi-accent-palette, 500, 100, 900);
$sredi-warn: mat.m2-define-palette($sredi-warn-palette, 500, 100, 900);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $sredi-primary,
    accent: $sredi-accent,
    warn: $sredi-warn,
  ),
));
@include mat.core-theme($theme);
@include mat.badge-theme($theme);
@include mat.button-theme($theme);
// @include mat.color-variants-backwards-compatibility($theme);
:root {
  @include mat.all-component-themes($theme);
}
