<section class="timesheet-summary-container">
  @for (item of timesheets; track $index) {
  <div class="card-item">
    <div class="title">{{ item.title }}</div>
    <div class="card-content">
      <div class="value">{{ item.value }}</div>
      <div class="stats" [class]="item.status">
        <mat-icon
          [svgIcon]="item.status === 'up' ? 'arrow-green-up' : 'arrow-red-down'"
        ></mat-icon>
        <div class="percent">{{ item.percentage }}%</div>
      </div>
    </div>
  </div>
  }
</section>
