<section class="timesheet-summary-container">
  <div class="card-item">
    <div class="title">Timesheets Expected</div>
    <div class="card-content">
      <div class="value">{{ 100 }}</div>
      <div class="stats up">
        <mat-icon svgIcon="arrow-green-up"></mat-icon>
        <div class="percent">20%</div>
      </div>
    </div>
  </div>
  <div class="card-item">
    <div class="title">Timesheets Expected</div>
    <div class="card-content">
      <div class="value">{{ 100 }}</div>
      <div class="stats up">
        <mat-icon svgIcon="arrow-green-up"></mat-icon>
        <div class="percent">20%</div>
      </div>
    </div>
  </div>
  <div class="card-item">
    <div class="title">Timesheets Expected</div>
    <div class="card-content">
      <div class="value">{{ 100 }}</div>
      <div class="stats up">
        <mat-icon svgIcon="arrow-green-up"></mat-icon>
        <div class="percent">20%</div>
      </div>
    </div>
  </div>
  <div class="card-item">
    <div class="title">Timesheets Expected</div>
    <div class="card-content">
      <div class="value">{{ 100 }}</div>
      <div class="stats up">
        <mat-icon svgIcon="arrow-green-up"></mat-icon>
        <div class="percent">20%</div>
      </div>
    </div>
  </div>
</section>
