<section class="dashboard-wrapper">
  <app-welcome></app-welcome>
  <app-integrations></app-integrations>
  <app-simple-card title="Overall Hours" class="overall-hours-card">
    <app-overall-hours card-content></app-overall-hours>
  </app-simple-card>
  <app-simple-card title="Timesheet Summary" class="timesheet-summary-card">
    <app-timesheet-summary card-content></app-timesheet-summary>
  </app-simple-card>

  <app-simple-card title="Project Hours" class="project-hours-card">
    <app-project-hours card-content></app-project-hours>
  </app-simple-card>
  <br />
</section>
