.dashboard-wrapper {
  padding: 16px 24px;
  ::ng-deep {
    --mdc-outlined-card-outline-color: white;
  }

  .overall-hours-card, .timesheet-summary-card {
    margin-top: 24px;
    display: block;
  }

}

