
@import "@ag-grid-community/styles/ag-grid.css";
@import "@ag-grid-community/styles/ag-theme-quartz.css";



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field {
  height: 40px; /* Adjust to your desired height */
}

.mat-mdc-form-field-outline {
  height: 40px; /* For outlined inputs */
}

.mat-mdc-input-element {
  line-height: 40px; /* Match line-height to the height */
}
